<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I advise you to contact me</title>
</head>
<body>
    <h2>YOU BETTER CONTACT ME!</h2>
    <p>toberndo here :)</p>
    <p>jomabi4599@lineacr.com is mah emailzz</p>
    <p>As bonus for reaching here, some cool stuff below:
        owGbwMvMwMV4+KX7/f+sd1sY1zLqJHHnphYXJ6an6pVUlKRri4Z75ikUpyYXpZYoZCTm5BQrlGek
        FqUqFGckpuSXFyvkZKbqcDkqlBSVFpekpiikpZYr5CZWKuSkJhblKZTkAyUq9bhC83Lyk7MVSjJS
        FdITS1KLdRQq80uLFAoSSzIUEssTM0uKdbjCM4Gc8ozM4gKg8SkKGZl5JcVAHUX5pekZCumliUUp
        QFGwbj0urvCM1DyFnPz09My8dIXMPB2FjFSgbAlQt0JyKdBBbvlFCkCDkjMTcxQSk5OBHlLIAjpQ
        IQ0oDrRajyskXyEd6COQiwqKMqtSQSYUpaqDfJdYAlKinpOjkJJvxRVanKqQWpGarKOQWaKObkon
        42YWBkYuBlkxRZaz778Hm3puXSzwbo0gLDxZmUAByMDFKQATeRrK/VfIfd7F2gsVxSr1HoyRsebt
        X7cKsb1690nJ1NN9j5OOsI/1osYGn0muPtcenez/ue6Q+UmXie3/wrMOGh2vVFtaolmwobnqwN3L
        O7oPMT141XdXWV6BR6brmsqdk7oHeNcKnH4yWbjgVGB5utW8CxM0mFikT395+f1z3yNF+cVPDkz1
        4r3OZv9T4XDnFY+bAsGTW/exch44EjVf5bijUs78zYGHJ81MluD7mrdCMP/vpU/OcRbrepLZkjxr
        Tx09JBg7O4aj47i40E3vDyZ6xzNC3l+4WfpAouoJW2PDeos1jxclBh8+XC2bpbxLov39DtGiq8ax
        h/5lWj9fF7Pj7yz7+RJHddaui9j8R4lvSffL2Uv+5gbWzlkY8vjKpjKBHPbqV0uNWqLCue6KlP0V
        Cd7L8cUyOuyT829hWbXe8/9nvz1YkSN3z2vXfz/lE38W75y0wVzoylc3Q0/XkvPxK+rOPf1osTiZ
        4aNe0u99v89GyIdX7lpSy70+flP9/32nGBPSlwZNSFva/u1Q6WnBHRKfJMrUTaYDAA==</p>
</body>
</html>